/*
Item Name : Mega Menu Responsibe Based on Boostrap grid
Version: 1.3.0
Author: Ansonika
Author URI: http://themeforest.net/user/Ansonika/

CSS STRUCTURE:

1. BASE
2.  COMMON
3.  TABS
4. MEDIA QUERIES

/*============================================================================================*/
/* 1.  BASE  */
/*============================================================================================*/

.megamenu_container {
	width:1170px;
	height:44px;
	margin:0 auto;
	position:relative;
	z-index:2;
}
.megamenu > li {
	display:inline;
	border:none;
	margin:0;
	background-color:transparent;
	padding: 14px 0 15px 15px;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	-ms-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
	}
.megamenu > li:hover{
	background-color:#119928;
	box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-webkit-box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-moz-box-shadow:  inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	color:#fff;
	text-decoration:none;
	}
.megamenu > li.active {
	background-color:#119928;
	box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-webkit-box-shadow: inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	-moz-box-shadow:  inset 5px 0 5px -5px  rgba(0, 0, 0, 0.35), inset -5px 0 5px -5px rgba(0, 0, 0, 0.35); 
	color:#fff;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);	
}
.megamenu > li a.drop-down, .megamenu > li a.nodrop-down {
	line-height:44px;
	outline:0;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	text-decoration:none;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	font-size:12px;
		}
		
		.megamenu > li a.drop-down {
			background-image:url("../img/arrow-down-white.png");
			background-repeat: no-repeat;
			background-position:right 20px;
			padding:14px 30px 15px 0;
			color:#fff;
		}
		.megamenu > li a.nodrop-down {
			padding:14px 15px 15px 0;
		}
		.megamenu > li a.drop-down:hover {
			cursor:pointer;
			background-image:url("../img/arrow-down-white.png");
			color:#fff;
		}
		
		.megamenu > li .nodrop-down:hover {
			cursor:pointer;
			background-image: none;
			color:#fff;
		}
		.megamenu> li.active .drop-down{
			cursor:pointer;
			background-image:url("../img/arrow-down-white.png");
			color:#fff;
		}
		 .megamenu > li.active .nodrop-down {
			color:#fff;
		}
	
		a#megamenu-button-mobile {
			background-image:url("../img/menu-down.png");
			background-repeat: no-repeat;
			background-position:98% 13px;
			padding:12px 20px 12px 0;
			color: #FF9;
			text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
			text-transform:uppercase;
			font-weight:700;
			box-shadow:none;
			display:none;
			text-decoration:none;
		}
		a#megamenu-button-mobile.active {
			background-image:url("../img/menu-up.png");
			background-position:98% 11px;
			box-shadow:none;
		}
			
.megamenu > li .drop-down-container {
	position:absolute;
	top:44px;
	left:0;
	z-index:9998;
	float:left;
	color:#fff;
	width: 1170px;
	margin:0 0 40px 0;
	padding:30px 15px 0px 15px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top:none;
	background:#2d343e;
	display: none; 
}
.drop-down-container#icon-menu a {
	display:block;
	background:#424952;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition: background .5s ease;
	font-size:14px;
	font-weight:700;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:20px 15px;
	margin-bottom:25px;
	color:#fff;
	-webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1) ;
  	-moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1) ;
	box-shadow:  inset 0 0 0 3px rgba(255, 255, 255, 0.1);
}
.drop-down-container#icon-menu a:hover{
	background:#0E8723;
}
 
.drop-down-container#icon-menu a i {
	float: right;
	color:#fff;
	margin:-10px 0 0 0;
}

.drop-normal {
	position:relative;
}
.megamenu > li .drop-down-container.normal {
	 position:absolute; top:46px; left:-15px;
	display: none;
	padding-top:0;
	padding-bottom:0;
	background:none;
}
.drop-down-container.normal ul{
	list-style:none;
	margin:0;
	padding:0;
}
.drop-down-container.normal ul li{
	text-align:left;
}
.drop-down-container.normal ul li a{
	display:block;
	padding:5px 10px;
	width:180px;
	margin-bottom:3px;
	color:#fff;
	background-color:#006db8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.drop-down-container.normal ul li a:hover{
	background-color:#111;
	color:#fff;
}
/* normal drown v.1.3 */
.drop-normal {
	position:relative;
}
.megamenu > li .drop-down-container.normal {
	 position:absolute; top:50px; left:-15px;
	display: none;
	width:auto;
	padding-top:0;
	padding-bottom:0;
	background:none;
}
.drop-down-container.normal ul{
	list-style:none;
	margin:0;
	padding:0;
}
.drop-down-container.normal ul li{
	text-align:left;
}
.drop-down-container.normal ul li a{
	display:block;
	padding:5px 10px;
	width:180px;
	margin-bottom:3px;
	color:#fff;
	background-color:#0099cc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.drop-down-container.normal ul li a:hover{
	background-color:#12b0e6;
	color:#fff;
}

/*============================================================================================*/
/* 2.  COMMON  */
/*============================================================================================*/

.megamenu iframe{
		border:0;
		margin-bottom:20px;
		width:100%;
	}
.megamenu hr {
  margin: 0  0 20px 0 ;
  border: 0;
  border-top: 1px solid #25282d;
  border-bottom: 1px solid #414750;
}
.megamenu > li .drop-down-container a {
	color:#13B32F;
}
.megamenu > li .drop-down-container a:hover {
	color:#fff;
	text-decoration:none;
}
.megamenu > li .drop-down-container ul.list-menu {
	margin-left:0;
	padding-left:5px;
	margin-bottom:20px;
}
.megamenu > li .drop-down-container ul.list-menu li {
	background:url(../img/arrow-2.png) no-repeat center left;
	padding-left:12px;
}
 h5 em {
	display:block;
	font-weight:normal;
	color:#999;
	font-size:12px;
}

/*============================================================================================*/
/* 3.  TABS   */
/*============================================================================================*/
	ul.tabs {
		list-style: none;
		border-bottom: 2px solid #414750;
		margin-bottom:15px;
		padding-bottom:0;
		display:block;
	}
	ul.tabs li {
		display: inline;
		float:left;
		width:auto;
		white-space:nowrap;
		margin-right:10px;
	}
	ul.tabs li a {
	color: #ffffff;
	position:relative;
	float:left;
	background-color: #424952;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font: bold;
	text-transform:none;
	padding: 4px 18px;
	margin:0;
	font-weight:700;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	transition: background-color 0.3s;
	}
	
	ul.tabs li a.active {background-color: #0E8723; color:#fff; text-decoration:none; }
	ul.tabs-content { margin: 0 0 10px 0; display: block; }
	ul.tabs-content > li { display:none;}
	ul.tabs-content > li.active { display: block; text-decoration:none;}

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }
	  
	  
/*============================================================================================*/
/* 4.  MEDIA QUERIES  */
/*============================================================================================*/

@media (min-width: 980px) and (max-width: 1200px) {
.megamenu_container {
		width:970px;
		margin:auto;
		left:auto;
		top:auto;
	}
.megamenu > li .drop-down-container {width: 940px;}

}

@media only screen and (max-width: 980px) {

a#megamenu-button-mobile {display:block; padding-left:10px;}

.megamenu_container {
	width:755px;
	height:auto;
	margin:auto;
	position:relative;
	left:auto;
	top:auto;
}
.megamenu > li .drop-down-container {
	position:absolute;
	top:auto;
	width: 725px;
	margin:0 0 0 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
}
.megamenu img {
	max-width: 98%;
	height: auto;
	width: auto\9; /* ie8 */
}
.megamenu embed,
.megamenu object,
.megamenu iframe {width: 100%;}

.megamenu > li {
	float:none;
	width:auto;
	border:none;
	display: block;
	padding: 0;
}

.megamenu > li a.drop-down ,
.megamenu > li a.nodrop-down  {
	background-position:99% 18px;
	line-height:12px;
	padding-top:14px;
	padding-bottom: 14px;
	padding-left:12px;
	display:block;
}
.megamenu {display:none;}

/* normal dropwn v.1.3 */
.megamenu > li .drop-down-container.normal {
	 position:relative; 
	 top:0; left:0px;
	 float:none;
	display: none;
	padding:0;
	margin:0 0 0 0;
	background:none;
	background:#0099cc;
	width:755px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius:0;
	border-bottom-left-radius: 0;
	border-top:none;
}

.drop-down-container.normal ul { margin:0; padding:0;}
.drop-down-container.normal ul li  { border-bottom:1px solid #2da7d0; padding:0; margin:0; background:none;  }
.drop-down-container.normal ul li a {width:auto; background:none; color:#fff; margin:0; padding:5px; padding-left:15px; -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.drop-down-container.normal ul li a:hover {background:#2d343e; color:#fff;}

}

@media only screen and (max-width: 767px) {
	
.megamenu_container{
	width:100%;
	margin:auto;
	left:auto;
	top:auto;
	}

.megamenu > li .drop-down-container.normal {
	 position: inherit;
	 top:0; left:0px;
	display: none;
	width:100%;
	padding-top:0;
	padding-bottom:0;
	background:none;
	height:100%;
}

.megamenu > li .drop-down-container {width:auto;}

.megamenu > li .drop-down-container#icon-menu {
	width:100%;
	padding:0;
	padding-top:25px;
}

.megamenu > li .drop-down-container#icon-menu .span3 {
	margin:0;
	margin: 0 10px 0 15px;
	width:auto;
}

.megamenu > li{
	float:none;
	width:auto;
	border:none;
	display: block;
	padding: 0;
	}
	
.megamenu > li a.drop-down,
.megamenu > li a.nodrop-down {
	background-position:99% 18px;
	line-height:12px;
	padding-top:14px;
	padding-bottom: 14px;
}
/* normal dropwn v.1.3 */
.megamenu > li .drop-down-container.normal {
	 position:relative; 
	 top:0; left:0px;
	 float:none;
	display: none;
	padding-top:0;
	padding-left:0;
	background:#0099cc;
	width:100%;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius:0;
	border-bottom-left-radius: 0;
	border-top:none;
}

.drop-down-container.normal ul { margin:0; padding:0;}
.drop-down-container.normal ul li  { border-bottom:1px solid #2da7d0; padding:0; margin:0; background:none;  }
.drop-down-container.normal ul li a {width:auto; background:none; color:#fff; margin:0; padding:5px; padding-left:15px; -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.drop-down-container.normal ul li a:hover {background:#2d343e; color:#fff;}

}